.home-content-wrapper {
  height: calc(100vh - 190px);
  background-color: #3AAFA9;
}

.home-heading {
  padding-top: 20px;
}

.home-container {
  height: 100%;
  overflow-y: auto;
}

.row{
  margin-right: 0px;
  margin-left: 0px; 
}

.home-col {
  height: 35vh;
}

.card {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 90%;
  background-color: #DEF2F1;;
}

.card .list-group a {
  text-decoration: none;
}

.card .list-group li:hover {
  text-decoration: none;
}

.card .list-group li {
  background-color: #DEF2F1;
}