.my-lists-toolbar {
    width: auto;
    height: 41px;
    background-color: #3AAFA9;
    border-bottom: 1px solid black;
}

.page-content-set-height {
    /* height: calc(100vh - 190px); */
    height: calc(100% - 68px);
}

.lists-container {
    height: 100%;
    width: 200px;
    overflow: auto;
    border-left: 1px solid #17252A;
    border-top: 1px solid #17252A;
    border-right: 1px solid #17252A;
    background-color: #3AAFA9;
}

.current-list-container {
    height: 100%;
    width: calc(100% - 200px);
    overflow: auto;
    background-color: #cfcfcf;
    border-top: 1px solid black;
}

.lists-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lists-container li {
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lists-container li button {
    background-color: #3AAFA9;
}

.lists-container li button:hover {
    transition: 0.3s;
    color: white;
    background-color: #17252A;
}

.list-button {
    border: none;
}

.modal form .form-group {
    padding-top: 5%;
}

.current-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.current-list-container li {
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.create-list-item {
    height: 49px;
    padding: 0;
}

.create-list-item-container {
    height: 49px;
    width: 100%;
    border-bottom: 1px solid black;
}

.current-list-item {
    height: 98px;
}