#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: calc(100vh - 122px);
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  height: 68px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.page-content-header {
    height: 68px;
}

.profile-link {
    color: white;
    text-decoration: none;
}

#sidebar-wrapper .list-group-item:hover {
    transition: 0.3s;
    background-color: #3AAFA9!important;
}

#sidebar-wrapper .list-group-item:focus {
    background-color: #3AAFA9!important;
}

.menu-toggler:hover {
    background-color: #3AAFA9!important;
}

.menu-toggler:focus {
    box-shadow: 0 0 0 0!important;
}